# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [9]:
import pandas as pd
import importlib
import functions_cleanning
importlib.reload(functions_cleanning)
from functions_cleanning import *

df1 = (
    pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
    .pipe(cleaning_columns_names)
    .pipe(cleaning_invalid_values)
    .pipe(formatting_data_types)
    .pipe(dealing_with_null_values)
    .pipe(dealing_with_duplicates)
)

df2 = (
    pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
    .pipe(cleaning_columns_names)
    .pipe(cleaning_invalid_values)
    .pipe(formatting_data_types)
    .pipe(dealing_with_null_values)
    .pipe(dealing_with_duplicates)
)

df3 = (
    pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')
    .pipe(cleaning_columns_names)
    .pipe(cleaning_invalid_values)
    .pipe(formatting_data_types)
    .pipe(dealing_with_null_values)
    .pipe(dealing_with_duplicates)
)

df = pd.concat([df1,df2,df3])

df.head()

df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [69]:
df4 = (
    pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')
    .pipe(cleaning_columns_names)
    .pipe(cleaning_invalid_values)
    .pipe(formatting_data_types)
    .pipe(dealing_with_null_values)
    .pipe(dealing_with_duplicates)
)


df_final = pd.merge(df,df4,on='customer',how="inner")

df_final.head()

,customer,state_x,gender_x,education_x,customer_lifetime_value_x,income_x,monthly_premium_auto_x,number_of_open_complaints_x,policy_type_x,vehicle_class_x,...,number_of_policies,policy_type_y,policy,renew_offer_type,sales_channel,total_claim_amount_y,vehicle_class_y,vehicle_size,vehicle_type,month
0,QZ44356,Arizona,F,Bachelor,697953,0,94,1,Personal Auto,Four-Door Car,...,8,Personal Auto,Personal L3,Offer3,Agent,1131,Four-Door Car,Medsize,A,1
1,AI49188,Nevada,F,Bachelor,1288743,48767,108,1,Personal Auto,Two-Door Car,...,2,Personal Auto,Personal L3,Offer1,Agent,566,Two-Door Car,Medsize,A,2
2,WW63253,California,M,Bachelor,764586,0,106,1,Corporate Auto,SUV,...,7,Corporate Auto,Corporate L2,Offer1,Call Center,529,SUV,Medsize,A,1
3,GA49547,Washington,M,High School or Below,536307,36357,68,1,Personal Auto,Four-Door Car,...,6,Personal Auto,Personal L3,Offer1,Branch,17,Four-Door Car,Medsize,A,2
4,OC83172,Oregon,F,Bachelor,825629,62902,69,1,Personal Auto,Two-Door Car,...,2,Personal Auto,Personal L3,Offer2,Web,159,Two-Door Car,Medsize,A,1

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [ ]:
# Creamos la tabla resumen (pivot table)
tabla_revenue = df_final.pivot_table(
    index='sales_channel',
    values='total_claim_amount_x',
    aggfunc='sum'
).round(2)

# Mostramos la tabla
print(tabla_revenue)

# Podemos concluir que los canales de agentes obtienen mayores ganancias, y el medio de web es que menor ganancia reporta

               total_claim_amount_x
sales_channel
Agent                       1774448
Branch                      1268749
Call Center                  903066
Web                          694658

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [ ]:
# Creamos la tabla resumen (pivot table)
tabla_lifetime_value_mean = df_final.pivot_table(
    index='gender_x',
    columns='education_x',
    values='customer_lifetime_value_x',
    aggfunc='mean'
).round(2)

# Mostramos la tabla
print(tabla_lifetime_value_mean)

# Podemos concluir que las mujeres suelen tener mayor valor excepto personas con Master
# A medida que aumenta el nivel de educación también aumenta el valor pero luego disminuye tras la Universidad en mujeres y en hombres tras la High School

education_x   Bachelor    College     Doctor  High School or Below     Master
gender_x
F            170853.12  201484.48  189442.73             183280.35  190537.80
M            148726.09  176922.23  154670.76             181979.49  151575.06

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [88]:
# Primero obtenemos la tabla pivot necesaria
tabla = df_final.pivot_table(
    index='policy_type_x',
    columns='month',
    values='number_of_open_complaints_x',
    aggfunc='sum'
).round(2)

print(tabla)

# Convertimos a formato largo
tabla_larga = tabla.reset_index().melt(id_vars='policy_type_x', var_name='month', value_name='number_of_open_complaints')

print(tabla_larga)

month              1     2
policy_type_x
Corporate Auto   631   558
Personal Auto   2425  2084
Special Auto     138   118
    policy_type_x month  number_of_open_complaints
0  Corporate Auto     1                        631
1   Personal Auto     1                       2425
2    Special Auto     1                        138
3  Corporate Auto     2                        558
4   Personal Auto     2                       2084
5    Special Auto     2                        118